{% extends 'main/base.html' %}
{% load static %}
{% block header %}
{% endblock %}
{% block content %}
<!-- section start -->
<section class="p-0 b-g-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a href="{% url 'main' %}" class="btn btn-normal">back to
                        home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block notify-product %}
{% endblock %}
{% block newsletter-popup %}
{% endblock %}
