
{% load static %}
{% block content %}
<div class="wrapper">
    <div id="back-top"><i class="ion-chevron-up"></i></div>
    
    {{item.title}} <br>
    {{item.description}} <br>
    <i>first image</i>
   <img height="200px" width="200px" src=" {{item.image.url}}" alt=""><br>
   <i>second image</i>
   <img height="200px" width="200px" src=" {{item.h_image.url}}" alt="">
   <form action="" method="POST">
    {% csrf_token %}
    <a href="{% url 'add-to-cart' item.pk %}" class="btn btn-primary btn-md my-0 p">
        Add to cart
        <i class="fas fa-shopping-cart ml-1"></i>

</form>
   
{% endblock content %}
