{% extends 'main/base_files/base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div id="back-top"><i class="ion-chevron-up"></i></div>
    <nav id="top">
        <div class="container">
            <div class="box-inner">
                <ul class="box-top box-top-left pull-left">
                    <p>Mid-season sale up to 20% OFF. Use code “SALEOFF20”</p>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <header class="scroll-fix">
        <div class="container">
            <div class="box-inner">
                <div class="box-inner-inner">
                    <style>
                        #pt-menu-9607 .pt-menu-bar {
                            background: #FFFFFF;
                            color: #FFFFFF;
                            padding: 0px 0px 0px 0px;
                        }

                        #pt-menu-9607.pt-menu-bar {
                            background: #FFFFFF;
                            color: #FFFFFF;
                        }

                        #pt-menu-9607 .ul-top-items .li-top-item .a-top-link {
                            background: #FFFFFF;
                            padding: 5px 0px 5px 0px;
                            color: #222222;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            font-weight: 700;
                        }

                        #pt-menu-9607 .ul-top-items .li-top-item:hover .a-top-link,
                        #pt-menu-9607 .ul-top-items .li-top-item:hover .a-top-link i,
                        #pt-menu-9607 .ul-top-items .li-top-item.active .a-top-link {
                            color: #FEBD69;
                            font-weight: 700;
                            background: #FFFFFF;
                        }

                        #pt-menu-9607 .mega-menu-container {

                            background: #FFFFFF;
                            padding: 0px 0px 0px 0px;
                        }

                        #pt-menu-9607 .mega-menu-container .a-mega-second-link {
                            color: #FFFFFF;
                            font-size: 1.4rem;
                            text-transform: none;
                            font-weight: 300;
                        }

                        #pt-menu-9607 .mega-menu-container .a-mega-second-link:hover {
                            color: #FFFFFF;
                            font-weight: 300;
                        }

                        #pt-menu-9607 .mega-menu-container .a-mega-third-link {
                            color: #FFFFFF;
                            font-size: 1.4rem;
                            text-transform: none;
                            font-weight: 300;
                        }

                        #pt-menu-9607 .mega-menu-container .a-mega-third-link:hover {
                            color: #FFFFFF;
                            font-weight: 300;
                        }

                        #pt-menu-9607 .ul-second-items .li-second-items {
                            background: #FFFFFF;
                            color: #222222;
                        }

                        #pt-menu-9607 .ul-second-items .li-second-items:hover,
                        #pt-menu-9607 .ul-second-items .li-second-items.active {
                            background: #FFFFFF;
                            color: #FEBD69;
                        }

                        #pt-menu-9607 .ul-second-items .li-second-items .a-second-link {
                            color: #222222;
                            font-size: 1.4rem;
                            text-transform: capitalize;
                            font-weight: 400;
                        }

                        #pt-menu-9607 .ul-second-items .li-second-items .a-second-link:hover,
                        #pt-menu-9607 .ul-second-items .li-second-items.active .a-second-link {
                            color: #FEBD69;
                            font-weight: 400;
                        }

                        #pt-menu-9607 .ul-third-items .li-third-items {
                            background: #FFFFFF;
                        }

                        #pt-menu-9607 .ul-third-items .li-third-items:hover,
                        #pt-menu-9607 .ul-third-items .li-third-items.active {
                            background: #FFFFFF;
                        }

                        #pt-menu-9607 .ul-third-items .li-third-items .a-third-link {
                            color: #777777;
                            font-size: 1.4rem;
                            text-transform: capitalize;
                            font-weight: 400;
                        }

                        #pt-menu-9607 .ul-third-items .li-third-items .a-third-link:hover,
                        #pt-menu-9607 .ul-third-items .li-third-items.active .a-third-link {
                            color: #FEBD69;
                            font-weight: 400;
                        }
                    </style>

                    {% include 'main/base_files/nav-bar.html' %}

                </div>
               
    </header>
    <div id="product-product" class="container">
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="ipod-nano2.html">iPod nano 8 GB 2nd Generation (Black)</a></li>
        </ul>
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="product-details">
                    <div class="row">
                        <div class="col-sm-6 product-image-details">
                            <input type="hidden" id="check-use-zoom" value="1" />
                            <input type="hidden" id="light-box-position" value="1" />
                            <input type="hidden" id="product-identify" value="97" />
                            <div class="lightbox-container"></div>
                            <div class="product-zoom-image">
                                <a href="image/cache/catalog/products/2/16-800x800.jpg" class="cloud-zoom main-image"
                                    id="product-cloud-zoom" style="width: 800px; height: 800px;" rel=" showTitle: false ,
												zoomWidth:800,zoomHeight:800,
												 position:'inside', adjustX: 0 ">
                                    <img src="image/cache/catalog/products/2/16-800x800.jpg"
                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                </a>
                            </div>
                            <div class="additional-container">
                                <div class="swiper-viewport">
                                    <div class="additional-images swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="item swiper-slide">
                                                <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                    href="image/cache/catalog/products/2/20-800x800.jpg"
                                                    title="iPod nano 8 GB 2nd Generation (Black)"
                                                    rel="useZoom: 'product-cloud-zoom', smallImage: 'http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/20-800x800.jpg'"
                                                    data-pos="2">
                                                    <img src="image/cache/catalog/products/2/20-125x125.jpg"
                                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                                </a>
                                            </div>
                                            <div class="item swiper-slide">
                                                <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                    href="image/cache/catalog/products/2/3-800x800.jpg"
                                                    title="iPod nano 8 GB 2nd Generation (Black)"
                                                    rel="useZoom: 'product-cloud-zoom', smallImage: 'http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/3-800x800.jpg'"
                                                    data-pos="3">
                                                    <img src="image/cache/catalog/products/2/3-125x125.jpg"
                                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                                </a>
                                            </div>
                                            <div class="item swiper-slide">
                                                <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                    href="image/cache/catalog/products/2/12-800x800.jpg"
                                                    title="iPod nano 8 GB 2nd Generation (Black)"
                                                    rel="useZoom: 'product-cloud-zoom', smallImage: 'http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/12-800x800.jpg'"
                                                    data-pos="4">
                                                    <img src="image/cache/catalog/products/2/12-125x125.jpg"
                                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                                </a>
                                            </div>
                                            <div class="item swiper-slide">
                                                <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                    href="image/cache/catalog/products/2/16-800x800.jpg"
                                                    title="iPod nano 8 GB 2nd Generation (Black)"
                                                    rel="useZoom: 'product-cloud-zoom', smallImage: 'http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/16-800x800.jpg'"
                                                    data-pos="5">
                                                    <img src="image/cache/catalog/products/2/16-125x125.jpg"
                                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                                </a>
                                            </div>
                                            <div class="item swiper-slide">
                                                <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                    href="image/cache/catalog/products/2/10-800x800.jpg"
                                                    title="iPod nano 8 GB 2nd Generation (Black)"
                                                    rel="useZoom: 'product-cloud-zoom', smallImage: 'http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/10-800x800.jpg'"
                                                    data-pos="6">
                                                    <img src="image/cache/catalog/products/2/10-125x125.jpg"
                                                        title="iPod nano 8 GB 2nd Generation (Black)"
                                                        alt="iPod nano 8 GB 2nd Generation (Black)" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pager">
                                        <div class="swiper-button-next additional-button-next"></div>
                                        <div class="swiper-button-prev additional-button-prev"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 product-info-details">
                            <div class="inner">

                                <h1>iPod nano 8 GB 2nd Generation (Black)</h1>
                                <div class="rating">
                                    <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                    <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                    <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                    <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                    <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>

                                    <a href="#"
                                        onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">1
                                        reviews</a><a href="#"
                                        onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">Write
                                        a review</a>

                                </div>
                                <p class="price">
                                    $100.00
                                </p>

                                <ul class="list-unstyled">
                                    <li>Brands <a href="apple.html">Apple</a></li>
                                    <li>Product Code: <span>Store2</span></li>
                                    <li>Availability: <span>In Stock</span></li>
                                    <li>Price in reward points: <span>100</span></li>
                                </ul>

                                <div id="product">
                                    <div class="form-group">
                                        <label class="control-label" for="input-quantity">Qty</label>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity"
                                            class="form-control" />
                                        <input type="hidden" name="product_id" value="97" />
                                        <button type="button" id="button-cart" data-loading-text="Loading..."
                                            class="btn btn-primary btn-lg btn-block">Add to Cart</button>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-wishlist"
                                                title="Add to Wish List" onclick="wishlist.add('97');">Add to Wish
                                                List</button>
                                            <button type="button" class="btn btn-default btn-compare"
                                                title="Compare this Product" onclick="compare.add('97');">Compare
                                                this Product</button>
                                        </div>

                                    </div>
                                </div>

                                <p class="product-tags">Tags:
                                    <a href="index7537.html?route=product/search&amp;tag=Plazathemes">Plazathemes</a>,
                                    <a href="index2cf7.html?route=product/search&amp;tag=Table">Table</a>,
                                    <a href="index41ce.html?route=product/search&amp;tag=Woo">Woo</a>,
                                    <a href="indexfece.html?route=product/search&amp;tag=e-Commerce">e-Commerce</a>
                                    <a href="#"></a> </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-details-more">
        <div class="container">
            <div class="inner">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                    <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        <div>
                            <p>
                                <strong>Video in your pocket.</strong></p>
                            <p>
                                Its the small iPod with one very big idea: video. The worlds most popular music
                                player now lets you enjoy movies, TV shows, and more on a two-inch display thats 65%
                                brighter than before.</p>
                            <p>
                                <strong>Cover Flow.</strong></p>
                            <p>
                                Browse through your music collection by flipping through album art. Select an album
                                to turn it over and see the track list.<strong>&nbsp;</strong></p>
                            <p>
                                <strong>Enhanced interface.</strong></p>
                            <p>
                                Experience a whole new way to browse and view your music and video.</p>
                            <p>
                                <strong>Sleek and colorful.</strong></p>
                            <p>
                                With an anodized aluminum and polished stainless steel enclosure and a choice of
                                five colors, iPod nano is dressed to impress.</p>
                            <p>
                                <strong>iTunes.</strong></p>
                            <p>
                                Available as a free download, iTunes makes it easy to browse and buy millions of
                                songs, movies, TV shows, audiobooks, and games and download free podcasts all at the
                                iTunes Store. And you can import your own music, manage your whole media library,
                                and sync your iPod or iPhone with ease.</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-review">
                        <form class="form-horizontal" id="form-review">
                            <div id="review"></div>
                            <h2>Write a review</h2>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-name">Your Name</label>
                                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-review">Your Review</label>
                                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                    <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                        translated!</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <label class="control-label">Rating</label>
                                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                    <input type="radio" name="rating" value="1" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="2" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="3" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="4" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="5" />
                                    &nbsp;Good</div>
                            </div>

                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <button type="button" id="button-review" data-loading-text="Loading..."
                                        class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="related-module button-style-2 ">
            <div class="block-title">
                <h3><span>Related Products</span></h3>

            </div>
            <div class="pt-content">
                <div class="swiper-viewport">
                    <div class="swiper-container related-slides">
                        <div class="swiper-wrapper">
                            <div class="product-thumb transition swiper-slide">
                                <div class="product-item">
                                    <div class="image">
                                        <a href="macbook-air2.html"><img
                                                src="image/cache/catalog/products/2/2-370x370.jpg"
                                                alt="MacBook Air - 13.3&quot; Retina Display - Intel Core i5"
                                                title="MacBook Air - 13.3&quot; Retina Display - Intel Core i5"
                                                class="img-responsive" /></a>
                                        <div class="button-group">
                                            <div class="inner">
                                                <button class="button-cart" type="button" title="Add to Cart"
                                                    onclick="cart.add('98', '1');"><span>Add to Cart</span></button>
                                                <button class="button-wishlist" type="button" title="Add to Wish List"
                                                    onclick="wishlist.add('98');"><span>Add
                                                        to Wish List</span></button>
                                                <button class="button-compare" type="button"
                                                    title="Compare this Product"
                                                    onclick="compare.add('98');"><span>Compare this
                                                        Product</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p class="manufacture-product">
                                            <a href="apple.html">Apple</a>
                                        </p>
                                        <div class="rating">
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>

                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>

                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>

                                            <span class="icon-ratings"><i class="icon-rating icon-rating-o"></i></span>

                                            <span class="icon-ratings"><i class="icon-rating icon-rating-o"></i></span>
                                        </div>

                                        <h4><a href="macbook-air2.html">MacBook Air - 13.3&quot; Retina Display -
                                                Intel Core i5</a></h4>
                                        <p class="price"> $1,000.00
                                        </p>

                                        <!--p>MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don&rsquo;t lose inches and pounds overnight. It&rsquo;s the result of rethinking conventions. Of m..</p-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pager">
                        <div class="swiper-button-next related-button-next"></div>
                        <div class="swiper-button-prev related-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".related-slides").swiper({
            spaceBetween: 0,
            nextButton: '.related-button-next',
            prevButton: '.related-button-prev',
            speed: 300,
            slidesPerView: 4,
            slidesPerColumn: 1,
            autoplay: false,
            loop: false,
            // Responsive breakpoints
            breakpoints: {
                479: {
                    slidesPerView: 2
                },
                767: {
                    slidesPerView: 2
                },
                991: {
                    slidesPerView: 3

                },
                1199: {
                    slidesPerView: 3

                }
            }
        });
    </script>
    <script type="text/javascript">
            $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
                $.ajax({
                    url: 'index.php?route=product/product/getRecurringDescription',
                    type: 'post',
                    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
                    dataType: 'json',
                    beforeSend: function () {
                        $('#recurring-description').html('');
                    },
                    success: function (json) {
                        $('.alert-dismissible, .text-danger').remove();

                        if (json['success']) {
                            $('#recurring-description').html(json['success']);
                        }
                    }
                });
            });
    </script>
    <script type="text/javascript">
            $('#button-cart').on('click', function () {
                $.ajax({
                    url: 'index.php?route=checkout/cart/add',
                    type: 'post',
                    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                    dataType: 'json',
                    beforeSend: function () {
                        $('#button-cart').button('loading');
                    },
                    complete: function () {
                        $('#button-cart').button('reset');
                    },
                    success: function (json) {
                        $('.alert-dismissible, .text-danger').remove();
                        $('.form-group').removeClass('has-error');

                        if (json['error']) {
                            if (json['error']['option']) {
                                for (i in json['error']['option']) {
                                    var element = $('#input-option' + i.replace('_', '-'));

                                    if (element.parent().hasClass('input-group')) {
                                        element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                    } else {
                                        element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                    }
                                }
                            }

                            if (json['error']['recurring']) {
                                $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                            }

                            // Highlight any found errors
                            $('.text-danger').parent().addClass('has-error');
                        }

                        if (json['success']) {
                            $('#content').parent().before('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                            $('#cart > button').html('<span id="cart-total">' + json['total'] + '</span>');

                            $('html, body').animate({scrollTop: 0}, 'slow');

                            $('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
                            $('#cart').addClass("open");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });
    </script>
    <script type="text/javascript">
            $('.date').datetimepicker({
                language: 'en-gb',
                pickTime: false
            });

        $('.datetime').datetimepicker({
            language: 'en-gb',
            pickDate: true,
            pickTime: true
        });

        $('.time').datetimepicker({
            language: 'en-gb',
            pickDate: false
        });

        $('button[id^=\'button-upload\']').on('click', function () {
            var node = this;

            $('#form-upload').remove();

            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            timer = setInterval(function () {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=tool/upload',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $(node).button('loading');
                        },
                        complete: function () {
                            $(node).button('reset');
                        },
                        success: function (json) {
                            $('.text-danger').remove();

                            if (json['error']) {
                                $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                            }

                            if (json['success']) {
                                alert(json['success']);

                                $(node).parent().find('input').val(json['code']);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });
    </script>
    <script type="text/javascript">
            $('#review').delegate('.pagination a', 'click', function (e) {
                e.preventDefault();

                $('#review').fadeOut('slow');

                $('#review').load(this.href);

                $('#review').fadeIn('slow');
            });

        $('#review').load('indexf0f7.html?route=product/product/review&amp;product_id=97');

        $('#button-review').on('click', function () {
            $.ajax({
                url: 'index.php?route=product/product/write&product_id=97',
                type: 'post',
                dataType: 'json',
                data: $("#form-review").serialize(),
                beforeSend: function () {
                    $('#button-review').button('loading');
                },
                complete: function () {
                    $('#button-review').button('reset');
                },
                success: function (json) {
                    $('.alert-dismissible').remove();

                    if (json['error']) {
                        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                        $('input[name=\'name\']').val('');
                        $('textarea[name=\'text\']').val('');
                        $('input[name=\'rating\']:checked').prop('checked', false);
                    }
                }
            });
        });

        </script>
</div>
{% endblock content %}
