{% extends 'main/base_files/base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div id="back-top"><i class="ion-chevron-up"></i></div>
    {% include 'main/base_files/topbar.html' %}
    <header class="scroll-fix">
        <div class="container">
            <div class="box-inner">
                <div class="box-inner-inner">
                    <style>
                        #pt-menu-3837 .pt-menu-bar {
                            background: #FFFFFF;
                            color: #FFFFFF;
                            padding: 0px 0px 0px 0px;
                        }

                        #pt-menu-3837.pt-menu-bar {
                            background: #FFFFFF;
                            color: #FFFFFF;
                        }

                        #pt-menu-3837 .ul-top-items .li-top-item .a-top-link {
                            background: #FFFFFF;
                            padding: 5px 0px 5px 0px;
                            color: #222222;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            font-weight: 700;
                        }

                        #pt-menu-3837 .ul-top-items .li-top-item:hover .a-top-link,
                        #pt-menu-3837 .ul-top-items .li-top-item:hover .a-top-link i,
                        #pt-menu-3837 .ul-top-items .li-top-item.active .a-top-link {
                            color: #FEBD69;
                            font-weight: 700;
                            background: #FFFFFF;
                        }

                        #pt-menu-3837 .mega-menu-container {

                            background: #FFFFFF;
                            padding: 0px 0px 0px 0px;
                        }

                        #pt-menu-3837 .mega-menu-container .a-mega-second-link {
                            color: #FFFFFF;
                            font-size: 1.4rem;
                            text-transform: none;
                            font-weight: 300;
                        }

                        #pt-menu-3837 .mega-menu-container .a-mega-second-link:hover {
                            color: #FFFFFF;
                            font-weight: 300;
                        }

                        #pt-menu-3837 .mega-menu-container .a-mega-third-link {
                            color: #FFFFFF;
                            font-size: 1.4rem;
                            text-transform: none;
                            font-weight: 300;
                        }

                        #pt-menu-3837 .mega-menu-container .a-mega-third-link:hover {
                            color: #FFFFFF;
                            font-weight: 300;
                        }

                        #pt-menu-3837 .ul-second-items .li-second-items {
                            background: #FFFFFF;
                            color: #222222;
                        }

                        #pt-menu-3837 .ul-second-items .li-second-items:hover,
                        #pt-menu-3837 .ul-second-items .li-second-items.active {
                            background: #FFFFFF;
                            color: #FEBD69;
                        }

                        #pt-menu-3837 .ul-second-items .li-second-items .a-second-link {
                            color: #222222;
                            font-size: 1.4rem;
                            text-transform: capitalize;
                            font-weight: 400;
                        }

                        #pt-menu-3837 .ul-second-items .li-second-items .a-second-link:hover,
                        #pt-menu-3837 .ul-second-items .li-second-items.active .a-second-link {
                            color: #FEBD69;
                            font-weight: 400;
                        }

                        #pt-menu-3837 .ul-third-items .li-third-items {
                            background: #FFFFFF;
                        }

                        #pt-menu-3837 .ul-third-items .li-third-items:hover,
                        #pt-menu-3837 .ul-third-items .li-third-items.active {
                            background: #FFFFFF;
                        }

                        #pt-menu-3837 .ul-third-items .li-third-items .a-third-link {
                            color: #777777;
                            font-size: 1.4rem;
                            text-transform: capitalize;
                            font-weight: 400;
                        }

                        #pt-menu-3837 .ul-third-items .li-third-items .a-third-link:hover,
                        #pt-menu-3837 .ul-third-items .li-third-items.active .a-third-link {
                            color: #FEBD69;
                            font-weight: 400;
                        }
                    </style>

                    {% include 'main/base_files/nav-bar.html' %}

                </div>
               
    </header>
    <div id="product-category" class="container layer-category">
        <div class="show-sidebar hidden-lg hidden-md">
            <i class="fa fa-filter"></i>
            <i class="ion-android-close"></i>
        </div>
        <div class="layered-navigation-block"></div>
        <div class="ajax-loader">
            <img src="{% static 'image/catalog/ajax-loader.gif' %}" alt="" />
        </div>
        <ul class="breadcrumb">
            <li><a href="{% url 'main' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'product-wise-list' %}">Cookware</a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 col-xs-12">
                <div class="col-order-inner">
                    <div class="panel panel-default pt-filter">
                        <div class="panel-heading layered-heading">Filter</div>
                        <div class="layered">
                            <div class="list-group">
                                <div class="filter-attribute-container filter-attribute-remove-container">
                                </div>
                                <div class="filter-attribute-container">
                                    <label>Price</label>
                                    <div class="list-group-item">
                                        <div class="filter-price">
                                            <div id="slider-price"></div>
                                            <div class="slider-values">
                                                <span>$</span>
                                                <input id="price-from" disabled="disabled" class="input-price"
                                                    type="text" value="80" placeholder="Min" name="price-from" />
                                                <span></span> -
                                                <span>$</span>
                                                <input id="price-to" disabled="disabled" class="input-price" type="text"
                                                    value="1900" placeholder="Max" name="price-to" />
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-attribute-container">
                                    <label>Color</label>
                                    <div class="list-group-item">
                                        <div id="filter-group2">
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="7">Black
                                                (6)</a>
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="11">Red
                                                (3)</a>
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="8">White
                                                (2)</a>
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="21">Yellow
                                                (0)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-attribute-container">
                                    <label>Manufacturers</label>
                                    <div class="list-group-item">
                                        <div id="filter-group1">
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="1">Apple
                                                (10)</a>
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="2">Canon
                                                (2)</a>
                                            <a class="a-filter add-filter" href="javascript:void(0);" name="5">Palm
                                                (2)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="filter-url"
                            value="index16b3.json?route=plaza/filter/category&amp;path=221" />
                        <input type="hidden" class="price-url"
                            value="index16b3.json?route=plaza/filter/category&amp;path=221" />
                    </div>

                    <script type="text/javascript">
                        var filter_url = '';
                        var ids = [];
                        var min_price = parseFloat('80');
                        var max_price = parseFloat('1900');
                        var current_min_price = parseFloat($('#price-from').val());
                        var current_max_price = parseFloat($('#price-to').val());

                        $('#slider-price').slider({
                            range: true,
                            min: min_price,
                            max: max_price,
                            values: [current_min_price, current_max_price],
                            slide: function (event, ui) {
                                $('#price-from').val(ui.values[0]);
                                $('#price-to').val(ui.values[1]);
                                current_min_price = ui.values[0];
                                current_max_price = ui.values[1];
                            },
                            stop: function (event, ui) {
                                filter_url = $('.price-url').val();
                                filter_url += '&price=' + current_min_price + ',' + current_max_price;
                                ptfilter.filter(filter_url);
                            }
                        });

                        $('.a-filter').click(function () {
                            var id = $(this).attr('name');
                            var filter_ids;
                            filter_url = $('.filter-url').val();
                            if ($(this).hasClass('add-filter') == true) {
                                ids.push(id);
                            } else if ($(this).hasClass('remove-filter') == true) {
                                ids = $.grep(ids, function (value) {
                                    return value != id;
                                });
                            }
                            filter_ids = ids.join(',');
                            filter_url += '&filter=' + filter_ids;
                            ptfilter.filter(filter_url);
                        });

                        $('.clear-filter').click(function () {
                            ids = [];
                        });

                        $(document).ajaxComplete(function () {
                            var current_min_price = parseFloat($('#price-from').val());
                            var current_max_price = parseFloat($('#price-to').val());

                            $('#slider-price').slider({
                                range: true,
                                min: min_price,
                                max: max_price,
                                values: [current_min_price, current_max_price],
                                slide: function (event, ui) {
                                    $('#price-from').val(ui.values[0]);
                                    $('#price-to').val(ui.values[1]);
                                    current_min_price = ui.values[0];
                                    current_max_price = ui.values[1];
                                },
                                stop: function (event, ui) {
                                    filter_url = $('.price-url').val();
                                    filter_url += '&price=' + current_min_price + ',' + current_max_price;
                                    ptfilter.filter(filter_url);
                                }
                            });

                            $('.a-filter').click(function () {
                                var id = $(this).attr('name');
                                var filter_ids = '';
                                filter_url = $('.filter-url').val();

                                if ($(this).hasClass('add-filter') == true) {
                                    ids.push(id);
                                } else if ($(this).hasClass('remove-filter') == true) {
                                    ids = $.grep(ids, function (value) {
                                        return value != id;
                                    });
                                }
                                filter_ids = ids.join(',');
                                filter_url += '&filter=' + filter_ids;
                                ptfilter.filter(filter_url);
                            });

                            $('.clear-filter').click(function () {
                                ids = [];
                            });
                        });
                    </script>

                    <div class="list-group list-categories">
                        <h3>Categories</h3>
                        <div class="list-categories-content">
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Appliances <span>7</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Bakeware <span>10</span></a>
                            <a href="indexd798.html?route=product/category&amp;path=259" class="list-group-item">Brand
                                Categories <span>18</span></a>

                            <a href="{% url 'product-wise-list' %}" class="list-group-item active">Cookware <span>18</span></a>

                            <a href="{% url 'product-wise-list' %}" class="list-group-item child">Cookware Sets
                                <span>6</span></a>

                            <a href="{% url 'product-wise-list' %}" class="list-group-item child">Pans <span>7</span></a>

                            <a href="{% url 'product-wise-list' %}" class="list-group-item child">Skillets <span>6</span></a>

                            <a href="{% url 'product-wise-list' %}" class="list-group-item child">Teakettles
                                <span>0</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Drinkware <span>10</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Glassware <span>10</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Kitchenwares <span>10</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Knives <span>10</span></a>
                            <a href="{% url 'product-wise-list' %}" class="list-group-item">Tablewares <span>8</span></a>
                        </div>
                    </div>

                    <div class="pt-block static-sidebar">
                        <div class="image">
                            <a href="#"><img src="{% static 'image/catalog/ptblock/img1-sidebar.jpg' %}" alt="img1-sidebar"></a>
                        </div>
                        <div class="image">
                            <a href="#"><img src="{% static 'image/catalog/ptblock/img2-sidebar.jpg' %}" alt="img2-sidebar"></a>
                        </div>
                    </div>

                </div>
            </aside>

            <div id="content" class="col-sm-9">

                <h1>Cookware</h1>
                <div class="category-image"><img src="{% static 'image/cache/catalog/category-image/category-image2-840x250.jpg' %}"
                        alt="Cookware" title="Cookware" class="img-thumbnail" /></div>

                <h3 class="text-refine">Refine Search</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            <li><a href="{% url 'product-wise-list' %}">Cookware Sets (6)</a></li>
                            <li><a href="{% url 'product-wise-list' %}">Pans (7)</a></li>
                            <li><a href="{% url 'product-wise-list' %}">Skillets (6)</a></li>
                            <li><a href="{% url 'product-wise-list' %}">Teakettles (0)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="custom-category">
                    <div class="tool-bar">
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" onclick="category_view.changeView('grid', 1, 'btn-grid-1')"
                                        class="btn btn-default btn-custom-view btn-grid-1" data-toggle="tooltip"
                                        data-placement="top" title="1">1</button>
                                    <button type="button" onclick="category_view.changeView('grid', 2, 'btn-grid-2')"
                                        class="btn btn-default btn-custom-view btn-grid-2" data-toggle="tooltip"
                                        data-placement="top" title="2">2</button>
                                    <button type="button" onclick="category_view.changeView('grid', 3, 'btn-grid-3')"
                                        class="btn btn-default btn-custom-view btn-grid-3" data-toggle="tooltip"
                                        data-placement="top" title="3">3</button>
                                    <button type="button" onclick="category_view.changeView('grid', 4, 'btn-grid-4')"
                                        class="btn btn-default btn-custom-view btn-grid-4" data-toggle="tooltip"
                                        data-placement="top" title="4">4</button>
                                    <button type="button" onclick="category_view.changeView('grid', 5, 'btn-grid-5')"
                                        class="btn btn-default btn-custom-view btn-grid-5" data-toggle="tooltip"
                                        data-placement="top" title="5">5</button>
                                    <button type="button" onclick="category_view.changeView('list', 0, 'btn-list')"
                                        class="btn btn-default btn-custom-view btn-list" data-toggle="tooltip"
                                        data-placement="top" title="List"></button>
                                    <input type="hidden" id="category-view-type" value="grid" />
                                    <input type="hidden" id="category-grid-cols" value="3" />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group"><a href="index6431.html?route=product/compare"
                                        id="compare-total" class="btn btn-link">Product Compare (0)</a></div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group input-group input-group-sm">
                                    <label class="input-group-addon" for="input-sort">Sort By:</label>
                                    <select id="input-sort" class="form-control"
                                        onchange="ptfilter.filter(this.value);">
                                        <option
                                            value="http://ostromi2.demo.towerthemes.com/index.php?route=plaza/filter/category&path=221&sort=p.sort_order&order=ASC"
                                            selected="selected">Default</option>
                                        <option
                                            value="index9f02.json?route=plaza/filter/category&amp;path=221&amp;sort=pd.name&amp;order=ASC">
                                            Name (A - Z)</option>
                                        <option
                                            value="indexe2da.json?route=plaza/filter/category&amp;path=221&amp;sort=pd.name&amp;order=DESC">
                                            Name (Z - A)</option>
                                        <option
                                            value="index1bc2.json?route=plaza/filter/category&amp;path=221&amp;sort=p.price&amp;order=ASC">
                                            Price (Low &gt; High)</option>
                                        <option
                                            value="indexbe81.json?route=plaza/filter/category&amp;path=221&amp;sort=p.price&amp;order=DESC">
                                            Price (High &gt; Low)</option>
                                        <option
                                            value="indexd1ff.json?route=plaza/filter/category&amp;path=221&amp;sort=rating&amp;order=DESC">
                                            Rating (Highest)</option>
                                        <option
                                            value="index2d95.json?route=plaza/filter/category&amp;path=221&amp;sort=rating&amp;order=ASC">
                                            Rating (Lowest)</option>
                                        <option
                                            value="index29e1.json?route=plaza/filter/category&amp;path=221&amp;sort=p.model&amp;order=ASC">
                                            Model (A - Z)</option>
                                        <option
                                            value="index5522.json?route=plaza/filter/category&amp;path=221&amp;sort=p.model&amp;order=DESC">
                                            Model (Z - A)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group input-group input-group-sm">
                                    <label class="input-group-addon" for="input-limit">Show:</label>
                                    <select id="input-limit" class="form-control"
                                        onchange="ptfilter.filter(this.value);">
                                        <option
                                            value="http://ostromi2.demo.towerthemes.com/index.php?route=plaza/filter/category&path=221&limit=12"
                                            selected="selected">12</option>
                                        <option
                                            value="index81c9.json?route=plaza/filter/category&amp;path=221&amp;limit=25">
                                            25</option>
                                        <option
                                            value="index4500.json?route=plaza/filter/category&amp;path=221&amp;limit=50">
                                            50</option>
                                        <option
                                            value="index3589.json?route=plaza/filter/category&amp;path=221&amp;limit=75">
                                            75</option>
                                        <option
                                            value="indexb955.json?route=plaza/filter/category&amp;path=221&amp;limit=100">
                                            100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-layout product-list col-xs-12 product-items">
                            <div class="product-thumb">
                                <div class="product-item">

                                    <div class="image swatches-image-container">
                                        <div class="inner">
                                            <div class="box-label">
                                                <div><span class="pro-label sale">Sale</span></div>
                                            </div>
                                            <a href="{% url 'product' %}">
                                                <img src="{% static 'image/cache/catalog/products/2/1-600x600.jpg' %}"
                                                    alt="Apple Cinema 30-inch HD Flat-Panel Display"
                                                    title="Apple Cinema 30-inch HD Flat-Panel Display"
                                                    class="img-responsive img-cate-88" />
                                                <input type="hidden"
                                                    value="http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/1-600x600.jpg"
                                                    class="img-default-88" />
                                                <input type="hidden"
                                                    value="http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/4-600x600.jpg"
                                                    class="img-swatch-88-130" />
                                                <input type="hidden"
                                                    value="http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/5-600x600.jpg"
                                                    class="img-swatch-88-132" />
                                                <input type="hidden"
                                                    value="http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/6-600x600.jpg"
                                                    class="img-swatch-88-133" />
                                                <input type="hidden"
                                                    value="http://ostromi2.demo.towerthemes.com/image/cache/catalog/products/2/1-600x600.jpg"
                                                    class="img-swatch-88-131" />
                                            </a>

                                            <div class="button-group">
                                                <div class="inner">
                                                    <button type="button" class="button-cart" title="Add to Cart"
                                                        onclick="cart.add('88', '2');"><span>Add to Cart</span></button>
                                                    <button class="button-quickview" type="button" title="Quick View"
                                                        onclick="ptquickview.ajaxView('cookware/apple-cinema-30-inch-hd-flat-panel-display2.html')"><span>Quick
                                                            View</span></button>
                                                    <button type="button" class="button-wishlist"
                                                        title="Add to Wish List" onclick="wishlist.add('88');"><span>Add
                                                            to Wish List</span></button>
                                                    <button type="button" class="button-compare"
                                                        title="Compare this Product"
                                                        onclick="compare.add('88');"><span>Compare this
                                                            Product</span></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="caption">
                                        <p class="manufacture-product">
                                            <a href="apple.html">Apple</a>
                                        </p>
                                        <div class="category-options">
                                            <ul class="ul-swatches-colors">
                                                <li class="swatches-options">
                                                    <a href="javascript:void(0);"
                                                        onclick="swatches.changeSwatchInCategory($(this));" title="Red"
                                                        style=" width: 15px; height: 15px;
																	background-image: url({%static 'image/cache/catalog/color-option/Red-15x15.jpg' %}); " data-product-id="88"
                                                        data-product-option-value-id="130"></a>
                                                </li>
                                                <li class="swatches-options">
                                                    <a href="javascript:void(0);"
                                                        onclick="swatches.changeSwatchInCategory($(this));"
                                                        title="Black" style=" width: 15px; height: 15px;
																	background-image: url({%static '/image/cache/catalog/color-option/Black-15x15.jpg' %}) " data-product-id="88"
                                                        data-product-option-value-id="133"></a>
                                                </li>
                                                <li class="swatches-options">
                                                    <a href="javascript:void(0);"
                                                        onclick="swatches.changeSwatchInCategory($(this));"
                                                        title="White" style=" width: 15px; height: 15px;
																	background-image: url({%static '/image/cache/catalog/color-option/White-15x15.jpg' %}) " data-product-id="88"
                                                        data-product-option-value-id="132"></a>
                                                </li>
                                                <li class="swatches-options">
                                                    <a href="javascript:void(0);"
                                                        onclick="swatches.changeSwatchInCategory($(this));"
                                                        title="LightSteelBlue" style=" width: 15px; height: 15px;
																	background-image: url({% static '/image/cache/catalog/color-option/LightSteelBlue-15x15.jpg' %}) "
                                                        data-product-id="88" data-product-option-value-id="131"></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <h4><a href="{% url 'product' %}">Apple
                                                Cinema 30-inch HD Flat-Panel Display</a></h4>
                                        <div class="rating">
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-o"></i></span>
                                            <span class="icon-ratings"><i class="icon-rating icon-rating-o"></i></span>
                                        </div>

                                        <p class="price"> <span class="price-new">$80.00</span> <span
                                                class="price-old">$120.00</span> </p>

                                        <p class="product-description">The 30-inch Apple Cinema HD Display delivers an
                                            amazing 2560 x 1600 pixel resolution. Designed specifically for the creative
                                            professional, this display provides more space for easi..</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="tool-bar-bottom">
                        <div class="row ">
                            <div class="col-sm-6 text-left ajax_pagination">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a
                                            href="indexc1c9.json?route=plaza/filter/category&amp;path=221&amp;page=2">2</a>
                                    </li>
                                    <li><a
                                            href="indexc1c9.json?route=plaza/filter/category&amp;path=221&amp;page=2">&gt;</a>
                                    </li>
                                    <li><a
                                            href="indexc1c9.json?route=plaza/filter/category&amp;path=221&amp;page=2">&gt;|</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-right">Showing 1 to 12 of 18 (2 Pages)</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <script>
            $(document).ready(function () {
                $('.show-sidebar').click(function () {
                    if ($(this).hasClass('opened')) {
                        $(this).removeClass('opened');
                    } else {
                        $(this).addClass('opened');
                    }
                    $('.layer-category #column-left,.layer-category #column-right').toggle();
                });
            });
        </script>
    </div>
</div>
{% endblock content %}
