aiodns==2.0.0
aiosmtpd==1.4.2
asgiref==3.3.1
atpublic==2.1.3
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
defusedxml==0.7.1
Django==3.1.5
django-allauth==0.44.0
django-email-verification==0.1.0
django-mobile-app-distribution==0.5
django-six==1.0.4
django-utils-six==2.0
Django-Verify-Email==0.0.5
future==0.18.2
idna==2.10
oauthlib==3.1.0
Pillow==8.1.2
psycopg2==2.8.6
pycares==3.1.1
pycparser==2.20
PyJWT==2.0.1
python3-openid==3.2.0
pytz==2020.5
requests==2.25.1
requests-oauthlib==1.3.0
sqlparse==0.4.1
urllib3==1.26.4
verify-email==2.4.3
