{%extends 'dashboard/base.html' %}
{%load static %}
{%block title %} customers {%endblock%}
{%block customerActive %}active{%endblock%}
<!-- Page Wrapper -->
{%block main %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Customers</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'customer' %}">Customers</a></li>
                        <li class="breadcrumb-item active">{% if not edit %} Create {% else %} Edit {% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Info</h4>
                        <form method="post" >
                            {% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Name</label>
                                        <input type="text" name="full_name"  class="form-control border-primary" required {% if edit %} value="{{form.full_name.value}}" {% endif %}>
                                        {% for err in form.full_name.errors%}
                                        {{err}}
                                        {%endfor%}
									</div>
									<div class="form-group">
										<label>Phone Number</label>
                                        <input type="text" name="phone" class="form-control border-primary" required {% if edit %} value="{{form.phone.value}} {% endif %}">
                                        {% for err in form.phone.errors%}
                                            {{err}}
                                        {%endfor%}
									</div>
									<div class="form-group">
										<label>Remarks</label>
                                        <input type="text" name="remarks" class="form-control border-primary" required {% if edit %} value="{{form.remarks.value}}" {% endif %}>
                                        {% for err in form.remarks.errors%}
                                            {{err}}
                                        {%endfor%}
									</div>

								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label>Address</label>
                                        <input type="text" name="address" class="form-control border-primary" {% if edit %} value="{{form.address.value}} {% endif %}">
                                        {% for err in form.address.errors%}
                                            {{err}}
                                        {%endfor%}
									</div>
									<div class="form-group">
										<label>Registration Date</label>
                                        <input type="date" name="reg_date" class="form-control border-primary" value="{{form.reg_date.value | date:"Y-m-d"}}">
                                        {% for err in form.reg_date.errors%}
                                            {{err}}
                                        {%endfor%}
									</div>
									<div class="form-group mt-5 pt-3" required>
										<label>ISP</label>
                                        {{form.isp}}
									</div>

								</div>
							</div>

							<div class="text-right mt-4">
                                <button type="submit" class="btn btn-primary">{% if edit %} Edit Customer {% else %} Add Customer {% endif %}</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{% endblock %}
