{%extends 'dashboard/base.html' %}
{%block customerActive %}active{%endblock%}
{%block main %}
{% load static %}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header --> <div class="page-header"> <div class="row"> <div class="col-sm-12">
                    <h3 class="page-title">New Subscription</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'customer' %}">Customers</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'customer_profile' customer.id %}">{{customer.full_name}}</a></li>
                        <li class="breadcrumb-item active">Subscription</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{customer.full_name}}'s Subscription</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Subscription Date</label>
                                            {% if edit %}
                                            <input class="form-control border-primary" type="date" name="sub_date" value="{{form.sub_date.value | date:"Y-m-d"}}">
                                            {% else %}
                                            <input class="form-control border-primary" type="date" name="sub_date" value="{{form.sub_date.value}}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input class="form-control border-primary" type="text" name="amount" value="{% if edit %}{% if form.credit.value %}{{form.credit.value}}{% else %}{{form.debit.value}}{% endif %}{%endif%}">
                                            <input class="form-control border-primary" type="hidden" name="{{form.debit_amount.name}}" value="{% if edit %}{{form.debit_amount.value}}{% else %}0{%endif%}">
                                            <input class="form-control border-primary" type="hidden" name="{{form.credit_amount.name}}" value="{% if edit %}{{form.credit_amount.value}}{% else %}0{% endif %}">
                                            {% for err in form.amount.errors%}
                                            {{err}}
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="form-group">
										<label>Particular</label>
                                        <input type="text" name="remarks" class="form-control border-primary" value=" {% if edit %}{{form.remarks.value}} {% endif %}">
                                            {% for err in form.remarks.errors%}
                                            {{err}}
                                            {%endfor%}
									</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-4 pt-2 pb-1">
                                        <label class='pr-3'>Package</label>
                                        {{form.package}}
                                            {% for err in form.package.errors%}
                                            {{err}}
                                            {%endfor%}
                                    </div>
                                    <div class="form-group mt-4 pt-2 pb-2">
                                        <label class='pr-3'>Bill Number</label>
                                        <input type="text" name="bill" class="form-control border-primary" value=" {% if edit %}{{form.bill.value}} {% endif %}">
                                        {% for err in form.bill.errors%}
                                        {{err}}
                                        {%endfor%}
                                    </div>
                                    <div class="form-group primary mt-5 pt-3 pb-3 ">
                                            {{form.debit_or_credit_radio}}
                                            {% for err in form.debit_or_credit.errors%}
                                            {{err}}
                                            {%endfor%}
                                    </div>

                                </div>
                            </div>
                            <div class="text-right mt-4">
                                <button type="submit" class="btn btn-primary">
                                    {% if edit%}
                                        Edit Subscription
                                    {% else %}
                                        Add Subscription
                                    {% endif  %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{%endblock %}
{%block customScript %}
<script>
    const $debit = $("input[name=debit_amount]").val() - 0; 
    const $credit = $("input[name=credit_amount]").val() - 0; 
    console.log($debit - $credit)
    
    if($debit > 0)
        $("#id_debit_or_credit_radio_0").attr('checked', 'checked')
    
    if($credit > 0)
        $("#id_debit_or_credit_radio_1").attr('checked', 'checked')
    $("input[name=amount]").val(Math.abs($debit - $credit))
</script>
{%endblock %}
