{%extends 'dashboard/base.html' %}
{%block main %}
{%block customerActive %}active{%endblock%}
{% load static %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="row justify-content-lg-center">
            <div class="col-lg-10">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'customer'  %}">Customers</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->



                <div class="text-center mb-5">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="{% static  'img/profiles/profile.png' %}" alt="Profile Image">
                    </label>
                    <div>
                        <h2 style="display: inline-block;">{{customer.full_name}}</h2>

                        <a href="{% url 'edit_customer' customer.id %}"
                            class="btn btn-sm btn-white text-success mr-2"><i class="far fa-edit mr-1"></i> Edit</a>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-phone fa-rotate-90"></i> <span>{{customer.phone}}</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-map-marker-alt"></i> {{customer.address}}
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <span>Joined {{customer.reg_date | date:"F Y"}}</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa  fa-wifi"></i> <span>{{customer.isp | title}}</span>
                        </li>
                    </ul>
                </div>
                <!--Profile end-->
                <div class="page-header row align-items-right col-auto ">
                    <a href="{% url 'customer_subscription' customer.id %}" class="btn btn-primary mr-1">
                        <i class="fas fa-plus"> Add Subscription</i>
                    </a>
                </div>

                <div class="row">
                    <div class="col-sm-15">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-center table-hover datatable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>ID</th>
                                                <th>Date</th>
                                                <th>Expire Date</th>
                                                <th>Particular</th>
                                                <th>Bill No.</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Balance<br> Amount</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        {% for b, remark, ed in subs%}
                                        <tbody>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{remark.sub_date}}</td>
                                            <td>{{ed}}</td>
                                            <td>{{remark.remarks}}</td>
                                            <td>{{remark.bill}}</td>
                                            {%if remark.debit_amount != 0 %}
                                                <td>Rs. {{remark.debit_amount}}</td>
                                            {% else %}
                                                <td> - </td>
                                            {% endif %}
                                            {%if remark.credit_amount != 0 %}
                                                <td>Rs. {{remark.credit_amount}}</td>
                                            {% else %}
                                                <td> - </td>
                                            {% endif %}
                                            <td>{{b}}</td>



                                            <td class="text-right">
                                                <a href="{% url 'edit_subscription' customer.id remark.id %}"
                                                    class="btn btn-sm btn-white text-success mr-2"><i
                                                        class="far fa-edit mr-1"></i> Edit</a>
                                            </td>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{%endblock %}
{%block customJs %}
{%endblock %}
