{% extends 'dashboard/base_files/base.html' %}
{% load static %}
{% block content %}
        <!-- Start Contentbar -->
        <div class="contentbar">
            <!-- Start row -->
            <div class="row">
                <!-- Start col -->
                <div class="col-lg-12 col-xl-4">
                    <!-- Start row -->
                    <div class="row">
                        <!-- Start col -->
           
                            <!-- Start col -->
                         
                            <div class="col-lg-6">
                                <div class="card text-center m-b-30">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Orders</h5>
                                    </div>
                                    <div class="card-body px-0 pb-0">
                                        <p class="dash-analytic-icon"><i
                                           class="feather icon-shopping-bag success-rgba text-success"></i></p>
                                        <h4 class="mb-3">{{orders|length}}</h4>
                                        <p>60% Target</p>
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%"
                                                                                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End col -->
                            <!-- Start col -->
                            <div class="col-lg-6">
                                <div class="card text-center m-b-30">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Users</h5>
                                    </div>
                                    <div class="card-body px-0 pb-0">
                                        <p class="dash-analytic-icon"><i
                                           class="feather icon-users primary-rgba text-primary"></i></p>
                                        <h4 class="mb-3">{{customer|length}}</h4>
                                        <p>80% Target</p>
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End col -->
                            <!-- Start col -->
                           
                            <!-- End col -->
                      
                     
                        <!-- Start col -->
                      
                    </div>
                    <!-- End row -->
                </div>
                <!-- End col -->
                <!-- Start col -->
                <div class="col-lg-12 col-xl-8">
                    <!-- Start row -->
                    <div class="row">
                      
                        <!-- Start col -->
                        <div class="col-lg-6">
                            <div class="card m-b-30">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h5 class="card-title mb-0">Storage</h5>
                                        </div>
                                        <div class="col-3">
                                            <div class="dropdown">
                                                <button class="btn btn-link l-h-20 p-0 font-18 float-right"
                                                        type="button" id="widgetStorage" data-toggle="dropdown"
                                                                                         aria-haspopup="true" aria-expanded="false"><i
                                                                                                              class="feather icon-more-horizontal-"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="widgetStorage">
                                                    <a class="dropdown-item font-13" href="#">Refresh</a>
                                                    <a class="dropdown-item font-13" href="#">Export</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-xl-7">
                                            <p><i class="feather icon-arrow-up text-primary mr-1"></i>Used:
                                            <strong>17.2 GB</strong></p>
                                            <p><i class="feather icon-arrow-down mr-1"></i>Free: <strong>7.8
                                                GB</strong></p>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 text-center">
                                            <img src="{%static 'dashboard/images/ecommerce/storage.png'%}"
                                                 class="img-fluid" alt="storage">
                                            <p class="storage-num">25 GB</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->
                        <!-- Start col -->
                        <div class="col-lg-6">
                            <div class="card m-b-30">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Best Selling Product</h5>
                                </div>
                                <div class="card-body">
                                    <div class="best-product-slider">
                                        <div class="best-product-slider-item">
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="{%static 'dashboard/images/ecommerce/produc_slider_01.png'%}"
                                                         class="img-fluid" alt="product">
                                                </div>
                                                <div class="col-8">
                                                    <span class="font-12 text-uppercase">Sports</span>
                                                    <h5 class="mt-2 mb-4 font-16">Black Shoes</h5>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item pr-2 border-right">
                                                            <h4 class="mb-0">205</h4>
                                                            <p class="mb-0">Sold</p>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <h4 class="mb-0">52</h4>
                                                            <p class="mb-0">In Stock</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="best-product-slider-item">
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="{%static 'dashboard/images/ecommerce/produc_slider_02.png'%}"
                                                         class="img-fluid" alt="product">
                                                </div>
                                                <div class="col-8">
                                                    <span class="font-12 text-uppercase">Fashion</span>
                                                    <h5 class="mt-2 mb-4 font-16">Red Lipstic</h5>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item pr-3 border-right">
                                                            <h4 class="mb-0">121</h4>
                                                            <p class="mb-0">Sold</p>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <h4 class="mb-0">35</h4>
                                                            <p class="mb-0">In Stock</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="best-product-slider-item">
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="{%static 'dashboard/images/ecommerce/produc_slider_03.png'%}"
                                                         class="img-fluid" alt="product">
                                                </div>
                                                <div class="col-8">
                                                    <span class="font-12 text-uppercase">New</span>
                                                    <h5 class="mt-2 mb-4 font-16">Hyper Car</h5>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item pr-3 border-right">
                                                            <h4 class="mb-0">55</h4>
                                                            <p class="mb-0">Sold</p>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <h4 class="mb-0">31</h4>
                                                            <p class="mb-0">In Stock</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
           
        </div>
        <!-- End Contentbar -->
{% endblock %}
