{% extends 'dashboard/base_files/base.html' %}
{% load static %}
{% block content %}
            <!-- Start Contentbar -->    
            <div class="contentbar">                
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">                                
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h5 class="card-title mb-0">All Orders</h5>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-inline-group text-right mb-0 pl-0">
                                            <li class="list-inline-item">
                                                  <div class="form-group mb-0 amount-spent-select">
                                                    <select class="form-control" id="formControlSelect">
                                                      <option>All</option>
                                                      <option>Last Week</option>
                                                      <option>Last Month</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-center datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Invoice</th>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                                <th>Warehouse</th>
                                                <th>Status</th>                                                
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        {% for order in order %}
                                        <tbody>
                                            <tr>
                                                <th scope="row"><a href="{% url 'orderdetails' %}">#{{order.order_id}}</a></th>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{order.customer}}</td>
                                                <td>{{order.ordered_date}}</td>
                                                <td>Rs.5656</td>
                                                <td>{{order.address}}</td>
                                                <td><span class="badge badge-primary-inverse">{{order.being_delivered}}</span></td>
                                                <td>
                                                    <div class="button-list">
                                                        <a href="#" class="btn btn-primary-rgba"><i class="feather icon-file"></i></a>
                                                        <a href="#" class="btn btn-success-rgba"><i class="feather icon-edit-2"></i></a>
                                                        <a href="#" class="btn btn-danger-rgba"><i class="feather icon-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                         
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->       {% endblock %}
            