{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{%block title %} Dashboard-Isp {%endblock%}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%static 'img/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'plugins/fontawesome/css/all.min.css' %}">
    {%block tableSs %}{%endblock%}

    <!-- Main CSS -->
    <link rel="stylesheet" href="{%static 'css/style.css' %} ">

    <!--[if lt IE 9]>
            <script src="{%static 'js/html5shiv.min.js' %}"></script>
            <script src="{%static 'js/respond.min.js' %}"></script>
		<![endif]-->
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="{%static 'img/logoo.png' %}" alt="Logo">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <form method="post"> {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label">{{form.username.label}}</label>
                                    <input name="username" class="form-control " placeholder='Username'>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">{{form.password.label}}</label>
                                    <div class="pass-group">
                                        <input type="password" name="password" class="form-control pass-input"
                                            placeholder='password'>
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-block btn-primary" type="submit">Login</button>
                            </form>
                            {% if form.errors %}
                            <ul style="margin-top: 5px; background: rgba(255,0,0,0.5); color: #fff;  ">
                                {% for field in form %}
                                {% if not form.non_field_errors %}
                                <li style="list-style: disc; color: white;">{{field.errors}}</li>
                                {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                <li style="list-style: disc; color: white;">{{form.non_field_errors}}</li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{%static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>

    <!-- Feather Icon JS -->
    <script src="{%static 'js/feather.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{%static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    {%block tableScr %}{%endblock%}

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
