{%extends 'dashboard/base.html' %}
{%load static %}
{%block title %} profile {%endblock%}

{%block main%}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="row justify-content-lg-center">
            <div class="col-lg-10">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Welcome </h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->



                <div class="text-center mb-5">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="{% static  'img/profiles/user.png' %}" alt="Profile Image">
                    </label>
                    <h2>{{user_info.full_name}} <i class="fas fa-certificate text-primary small" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Verified"></i></h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="far fa-envelope"></i> <span>{{user_info.email}}</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-phone"></i> {{user_info.phone}}
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <span>{{user_info.date_joined | date:"F Y"}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>Need Help ?</span>
                                    <a class="btn btn-sm btn-white" href="tel:9804385646">Call</a>
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="py-0">
                                        <small class="text-dark card-title">Senior Developer</small>
                                    </li>
                                    <li><a href="https://www.sujanp.com.np" target="_blank">
                                            Sujan Parajuli
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:9842566781">
                                            9842566781
                                        </a>
                                    </li>
                                    <li>
                                        Biratchok
                                    </li>
                                    <li class="pt-2 pb-0">
                                    <li class="py-0">
                                        <small class="text-dark card-title">Head Developer</small>
                                    </li>
                                    <li><a href="https://www.sewakgautam.com.np" target="_blank">
                                            Sewak Gautam
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:9804385646">
                                            9804385646
                                        </a>
                                    </li>
                                    <li>
                                        Belbari
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
