{% extends 'dashboard/base_files/base.html' %}
{% load static %}
{% block leftbar %} {%endblock %}
{% block rightbar %} {%endblock %}
{% block content %}
<body class="vertical-layout">
    <!-- Start Containerbar -->
<div id="containerbar" class="containerbar authenticate-bg">
<!-- Start Container -->
<div class="container">
    <div class="auth-box login-box">
        <!-- Start row -->
        <div class="row no-gutters align-items-center justify-content-center">
            <!-- Start col -->
            <div class="col-md-2 col-lg-5">
                <!-- Start Auth Box -->
                <div class="auth-box-right">
                    <div class="card">
                        <div class="card-body">
                            <form action="#">
                                <div class="form-head">
                                    <a href="index.html" class="logo"><img src="{% static 'main/image/catalog/logo/ostromi2.png' %}"
                                            class="img-fluid" alt="logo"></a>
                                </div>
                                <h4 class="text-primary my-4">Log in !</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username"
                                        placeholder="Enter Username here" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Enter Password here" required>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-checkbox text-left">
                                            <input type="checkbox" class="custom-control-input" id="rememberme">
                                            <label class="custom-control-label font-14" for="rememberme">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="forgot-psw">
                                            <a id="forgot-psw" href="user-forgotpsw.html" class="font-14">Forgot
                                                Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg btn-block font-18">Log in</button>
                            </form>
                            
                            
                            <p class="mb-0 mt-3">Don't have a account? <a href="tel:9804385646">Contact Admin</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Auth Box -->
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
</div>
</div>
</div>
</body>
<!-- End Container -->
{% endblock %}

